<!doctype html>
<html>
	<head>
		<title>{% block title_site %} Blog - Quy Nguyen Vu {% endblock %}</title>
		{% load staticfiles %}

		<!-- MetaTag facebook -->
		{% block meta_tag_face %} {% endblock %}

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/png" href="{% static 'media/image/favicon.png' %}">
		
		<!-- Font -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic' rel='stylesheet' type='text/css'>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<!-- Boostrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<!-- Theme Material Design -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

		<!-- Font Awesome Icons -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!-- Style, Script for plugin jsSocial -->
		<link rel="stylesheet" type="text/css" href="{% static 'lib/jsSocial/jssocials-theme-flat.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/jsSocial/jssocials.css'%}">
		<script src="{% static 'lib/jsSocial/jssocials.min.js' %}"></script>

		<!-- Slider Slick Plugin -->
		<link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick-theme.css' %}"/>
		<script type="text/javascript" src="{% static 'lib/slick/slick.js' %}"></script>

		<!-- Load custom styles -->
		<link rel="stylesheet" type="text/css" href="{% static 'style/custom_style.css'%}">

		<style type="text/css">
			.parallax-container {
		      	height: 400px;
		    }
		</style>

		<script src='https://www.google.com/recaptcha/api.js'></script>
		<script src="{% static 'script/base.js' %}"></script>
		<script src="{% static 'script/detail.js' %}"></script>
		<script src="{% static 'script/typepost.js' %}"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				$('.parallax').parallax();
				console.log( $('#card-panel-total').height() );

				$('input#input_text, textarea#textarea1').characterCounter();

				// Active modal search
				 $('.modal-trigger').leanModal();

				 $(window).scroll(function() {
				 	temp = $(window).scrollTop() ;
				 	if( temp < 500 ) {
				 		$('#icon-go-top').css('opacity', temp/500);
				 	}
				 })

				 // Active Toast
				 $('.tooltipped').tooltip({delay: 50});

				 $(".button-collapse").sideNav();

				 $(".dropdown-button").dropdown();
			})
		</script>

	</head>
	<body>
		<div id='wrap'>
			<div>
				<!-- include "_navbar.html" -->
				{% include "common/_navbar.html" %}	
			</div>
			<div class="parallax-container">
		    	<div class="parallax">
		    		<img src="{% static 'media/image/parallex_2.jpg' %}">
		    	</div>
		    	
		    </div>
		    <div id='content-1' class='clearfix'>
		    	<div class='clearfix row' > <!-- style='position: relative;
		    	' -->
			    	<div class='clearfix' > <!-- style='position: absolute;top: -50px; width: 100%; height: 100%;' -->
					    <div id='card-panel-total' class='clearfix'>
					   		{% block main_content %}Hello{% endblock %}
					   	</div>
				   	</div>
				</div>
			</div>


			<div>
				{% block addition %}{% endblock %}
			</div>

			<!-- Modal Search -->
			<div id="modal1" class="modal">
			    <div class="modal-content">
			        <input placeholder="Search" id="search" type="text">
			        <p>A bunchfsadfsdaf sdafsd fsd f of text</p>
			    </div>
			</div>

			

			<div>
				<!-- include "_footer.html" -->
				{% include "common/_footer.html" %}
			</div>
			
		</div> <!-- #wrap -->
	</body>
</html>