{% extends "base_template.html" %}
{% load FilterHelper %}
{% load PostFilterHelper %}
{% load humanize %}
{% csrf_token %}

{% block title_site %}{{ post.title }}{% endblock %}

{% block meta_tag_face %} 
	<meta property="og:title" content="{{ post.title }}">
	<meta property="og:site_name" content="Quy's Blog">
	<meta property="og:url" content="http://js-socials.com">
	<meta property="og:description" content="{{ post.content|truncatewords:50 }}">
	<meta property="og:image" content="">
{% endblock %}

{% block main_content %}
	<div id='card-panel-1' class='card-panel clearfix col-md-8 col-sm-12 col-xs-12'>
		<h2><i class="fa fa-file-text"></i>&nbsp;&nbsp;{{ post.title }}</h2>
		<div id='tags'>
			
		</div>
		<div id='info-post' class='clearfix'>
			<div class='row'>
				<span id='tags'>
					{% for tag in tags %}
						<span class="tag">{{ tag.title }}</span>
					{% endfor %}
				</span>
				<!-- <div class="text-right" >
					<i class='glyphicon glyphicon-time'></i>&nbsp;{{ post.created_time|converttimestamp:"%Y-%m-%d %H:%M" }}	
				</div> -->
			</div>
		</div>
		<div id='content-post'>
			{{ post.content|safe }}
		</div>
	</div>


	<div id='parent-content-3' class='col-md-4 col-sm-12 col-xs-12 nopadding'>
		<div id='content-3' class='clearfix'>
			<input type='hidden' id='current_id_post' name='id_post' value='{{post.id}}' />
			<input type='hidden' id='id_comment_parent' name='id_comment_parent' value='' />
		    <div class='clearfix' style=''>
		        <div class='clearfix' style='width: 100%;'>
		        	<div class='card-panel text-center'>
		            	<div id='share'>
		            		
		            	</div>
		            </div>
		        	<div id='header-comments' class='card-panel green accent-4"'>
		        		{{ comments|length }} Comments ...
		        	</div>
		        	<span id='start-comments'></span>
		            <div id='card-panel-3' class='clearfix'>
		                {% for item in comments %}

		                	{% ifnotequal item.id_parent_cmt 0 %}
		                		<div id='{{ item.id_parent_cmt }}' class='sub-container-cmt'>
			                		<div id='{{ item.id }}' class='card-panel clearfix blue-grey lighten-5'>
				                		<div>
				                			{% load staticfiles %}
				                			<img src="{% static 'media/image/user.png' %}" class='img img-thumbnail pull-left user-profile' width='30px'> 
				                			<div class='content-comment'>
				                				<span class='name_owner'>{{ item.name_owner }}</span><br/>
					                				{{ item.content }}	
					                		</div>
				                		</div>
				                		
				                		
				                	</div>
			                	</div>
		                	{% else %}
		                		<div id='cmt-{{ item.id }}'>
			                		<div class='card-panel clearfix blue-grey lighten-5 container-cmt'>
				                		<div>
				                			{% load staticfiles %}
				                			<img src="{% static 'media/image/user.png' %}" class='img img-thumbnail pull-left user-profile' width='30px'>
				                			<div class='content-comment'>
				                				<span class='name_owner'>{{ item.name_owner }}</span><br/>
					                				{{ item.content }}	
					                			<div class='utils-cmt'>
					                				<i class='material-icons tooltipped' data-position="left" data-delay="50" data-tooltip="Reply this comment">comment</i>
					                			</div>
					                			<div class='order-cmt'>
					                				#{{forloop.counter}}
					                			</div>
					                		</div>
				                		</div>
				                		
				                		
				                	</div>
				                	<div class='div-sub-cmt' id='div-sub-cmt-{{ item.id }}'>
				                		
				                	</div>
				                </div>

		                	{% endifnotequal %}

		                {% endfor %}
		                <div id='footer-comment-block'>
		                	
		                </div>
		            </div>

		            <div id='list-category' class='nopadding'>
	                    <div class='card-panel'>
	                        {% for category in list_category %}
	                            <div class='div-inline'>
	                                <a href="/post/category/{{ category.id }}/1">
	                                    <span class='tag'><i class="fa fa-tags"></i>&nbsp;{{ category.title }} ({{ category.num_posts }})</span>
	                                </a>
	                            </div>
	                        {% endfor %}
	                    </div>
	                </div>

	                <div id='list-top-view' class='nopadding'>
	                    <div class="card-panel">
	                        <h5><span class='glyphicon glyphicon-equalizer'></span>&nbsp;&nbsp;Top Views</h5>
	                        <ul>
	                            {% for item in list_top_view_post %}
	                                <li><a href='/post/detail/{{ item.id }}'>{{ item.title }}</a></li>
	                            {% endfor %}
	                        </ul>
	                    </div>
	                </div>
		        </div>
		    </div>
		</div>
	</div>


	<div id='content-5' class=' col-md-8 col-sm-12 col-xs-12'>
		<div class='card-panel '>
		    <span id='editor-comment'></span>
		    <div class="row">
		        <form class="">
		            <div class="row">
		                <div id='message-error' class="input-field col s12">
		                    <span id='content-error'></span>
		                </div>
		                <div class="input-field col-md-6 col-sm-12 col-xs-12 padding5">
		                    <i class="material-icons prefix hidden-sm hidden-xs">account_circle</i>
		                    <input id="username" type="text" onfocus="showMoreSubmitCmt()" onblur="hideMoreSubmitCmt()">
		                    <label for="username">Full Name</label>
		                </div>
		                <div class="input-field col-md-6 col-sm-12 col-xs-12 padding5">
		                	<a id='redirect_facebook_url' href="">
		                		<img src="{% static 'media/image/social/facebook.png' %}">
		                	</a>
		                	<a id='redirect_google_url' href="">
		                		<img src="{% static 'media/image/social/google.png' %}">
		                	</a>
		                </div>
		                <div class="input-field col-md-12 col-sm-12 col-xs-12 padding5 pull-left">
		                    <i class="material-icons prefix hidden-sm hidden-xs">email</i>
		                    <input id="email" type="email" onfocus="showMoreSubmitCmt()">
		                    <label for="email">Email</label>
		                </div>
		                <div class="input-field col-md-12 col-sm-12 col-xs-12 padding5">
		                    <i class="material-icons prefix hidden-sm hidden-xs">mode_edit</i>
		                    <textarea id="content-cmt" class="materialize-textarea" onfocus='showMoreSubmitCmt()'></textarea>
		                    <label for="content-cmt">Comment</label>
		                </div>
		                <div id='more-submit-cmt'>
		                	<div class='input-field col col-md-6 col-sm-12 col-xs-12 padding5'>
			                    <input type="checkbox" id='check-notify' />
			                    <label for='check-notify'>Nofify me when have new comments</label>
			                </div>
			                <div class='input-field col col-md-6 col-sm-12 col-xs-12 pull-right padding5'>
			                    <div class="g-recaptcha" data-sitekey="6Le5QQoTAAAAAPmwMlG6N3uxw52OD-U9KnNtocOm"></div>
			                </div>
			                <div class='text-center input-field col col-md-6 col-sm-12 col-xs-12 padding5'>
			                    <a class="waves-effect waves-light btn" onclick='create_new_comment()'><i class="material-icons left">done</i>Comment</a>
			                </div>
		                </div>
		                
		            </div>
		        </form>
		    </div>
		</div>
	</div>

	

{% endblock %}

{% block addition %}

	<div class="clearfix"></div>
	<div>
		<div class="slider-post">
			{% for item in list_new_post %}
			<div class='item-post'>
				<div class="row">
			        <div class="col">
			          <div class="card">
			          	<a href='/post/detail/{{ item.id }}'>
				            <div class="card-image">
				              	<img src="{% static item.avatar|avatar %}">
				              	<span class="card-title">{{ item.title }}</span>
				            </div>
				        </a>
			          </div>
			        </div>
			      </div>
			</div>
			{% endfor %}
		</div>
	</div>

    <script type="text/javascript">
    	$(document).ready(function() {

    		{% ifnotequal comments|length 0 %}
    			w_width = $(window).width();
    			temp_height = $('#card-panel-3').height();
    			if( w_width <= 768 ) {
    				$('#card-panel-3').height( Math.min($(window).height() - 100, temp_height));
    				console.log("Case 1");
    			} else {
    				console.log('Case 2');
    				$('#card-panel-3').height( Math.min($('#card-panel-1').height(), temp_height ));	
    			}
    			
    		{% endifnotequal %}

    		organize_child_cmt();

    		$("#share").jsSocials({
			    url: location.href,
			    text: "Google Search Page",
			    showLabel: false,
			    showCount: "inside",
			    shares: ["twitter", "facebook", "googleplus"]
			});

			// Active slider plugin
			$('.slider-post').slick({
				dots: true,
				infinite: false,
				slidesToShow: 5,
					slidesToScroll: 5,
					autoplay: true,
					autoplaySpeed: 2000,
					centerMode:true,
					responsive: [
				    {
				      breakpoint: 768,
				      settings: {
				        slidesToShow: 5,
				        slidesToScroll: 5,
				      }
				    },
				    {
				      breakpoint: 580,
				      settings: {
				        slidesToShow: 2,
				        slidesToScroll: 2
				      }
				    },
				    {
				      breakpoint: 380,
				      settings: {
				        slidesToShow: 1,
				        slidesToScroll: 1
				      }
				    }
				  ]
			});

			// Social 
			list_item = window.location.href.split('access_token=');
			if( list_item.length > 1 ) {
				token = list_item[1].split('&token_type=')[0];
				console.log(token);

				// Validate token
				validator_url = "https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=" + token;
				console.log(jQuery.get(validator_url));

				$.ajax({
					url: base_url + "/post/ajax_validate_token/",
					data: {
						token: token
					}, 
					success: function(data) {
						console.log(data);
					},
					error: function(data) {
						console.log(data);
					}
				})


				$('html, body').scrollTop( $('#content-5').offset().top );
			} else {
				// Check Error
				if( window.location.href.search('error=access_denied') != -1 ) {
					// User denied permission
					$('#content-error').html('Please allow permission to continue commenting with Social Account!');
					$('html, body').scrollTop( $('#content-5').offset().top );
				} 
			}


			google_url = "https://accounts.google.com/o/oauth2/auth?scope=email%20profile&state=%2Fprofile&redirect_uri=" + encodeURIComponent(base_url + window.location.pathname) + "&response_type=token&client_id=780569225291-eb7sbvno9cr1gl1dkq3jqi4gt3eb09t2.apps.googleusercontent.com";
			$('#redirect_google_url').attr('href', google_url);
    	})
    </script>
{% endblock %}