{% extends "base_template.html" %}

{% block title_site %}Homepage - Qnvproit's Blog {% endblock %}
{% load FilterHelper %}

{% block main_content %}
	<div class='text-center'><h4>New Post</h4></div>
	<div style='position: relative;'>
		{% for post in list_post %}
			<div class=' '>
				<a href="{% url 'PostApp.views.detail_post' id_post=post.id %}">
			    <div class="col s6 m6 waves-effect waves-light">
			        <div class="card blue-grey lighten-2">
			            <div class="card-content white-text">
			                <span class="card-title">{{post.title}}</span>
			                <p>{{ post.content|truncatewords:50 }}</p>
			            </div>
			            <div class="card-action">
			                <a href="#"><i class='material-icons left'>visibility</i>View</a>
			                <a href="#" class='right'><i class='material-icons left'>av_timer</i>{{ post.created_time|converttimestamp:"%Y-%m-%d %H:%M" }}</a>
			            </div>
			        </div>
			    </div>
			    </a>
			</div>
		{% endfor %}
	</div>


{% endblock %}

{% block addition %}

	<div class="parallax-container">
	    <div class="parallax">
	        <img src="https://ihatetomatoes.net/demos/simple-parallax-scrolling-tutorial/img/bcg_slide-1.jpg">
	    </div>
	</div>

	<div id='content-2' class='container clearfix'>
	    <div class='clearfix' style='position: relative;'>
	        <div class='clearfix' style='position: absolute;top: -50px; width: 100%'>
	            <div id='card-panel-2' class='card-panel clearfix'>
	            	<div class='text-center'><h4>Category</h4></div>
	                HIhi
	            </div>
	        </div>
	    </div>
	</div>

	<div class="parallax-container">
	    <div class="parallax">
	        <img src="https://ihatetomatoes.net/demos/simple-parallax-scrolling-tutorial/img/bcg_slide-2.jpg">
	    </div>
	</div>

	<div id='content-3' class='container clearfix'>
	    <div class='clearfix' style='position: relative;'>
	        <div class='clearfix' style='position: absolute;top: -50px; width: 100%'>
	            <div id='card-panel-3' class='card-panel clearfix'>
	                <div class="input-field col s12">
			          	<input id="email" type="email" class="validate">
			          	<label for="email">Email</label>
			        </div>
			        <div class='text-center'>
			        	<button class="btn waves-effect waves-light" type="submit" name="action">Subcribe</button>	
			        </div>
	            </div>
	        </div>
	    </div>
	</div>

{% endblock %}