{% extends "base_template.html" %}
{% load FilterHelper %}
{% load PostFilterHelper %}
{% load humanize %}
{% load staticfiles %}
{% csrf_token %}

{% block title_site %}{{ "hih" }}{% endblock %}

{% block meta_tag_face %} 
    <meta property="og:title" content="{{ current_category.title }} - Qnvproit's Blog">
    <meta property="og:site_name" content="Quy's Blog">
    <meta property="og:url" content="http://js-socials.com">
    <meta property="og:description" content="Some posts about '{{ current_category.title }}'">
    <meta property="og:image" content="">
{% endblock %}


{% block main_content %}
    <div id='card-panel-1' class='card-panel clearfix col-md-8 col-sm-12 col-xs-12'>
        <span class='h2'><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{ type_post.type_post }}</span>
        <div id='corner-sort'>
            <div class="input-field col s12">
                <select id='sort-by'>
                    <option value="" disabled selected>Sort by</option>
                    <option value="id">Newest</option>
                    <option value="number_views">Top View</option>
                    <!-- <option value="3">Option 3</option> -->
                </select>
            </div>
        </div>
        <div class="body-content">
            <span class='h5'>Have {{ num_post }} post in '{{ type_post.type_post }}'</span>
            <div id='list_post'>
                <input type='hidden' id='id-category' value='{{ id_category }}' />
                {% for post in list_post %}
                    <div class='card light-green lighten-1 waves-effect waves-light item-post'>
                        <a href='/post/detail/{{ post.id }}'>
                            <div class='card-content'>
                                <div>
                                    <img class='avatar-post' src="{% static post.avatar|avatar %}" align='left'>
                                </div>
                                <span class='card-title'>{{ post.title }}</span>
                                <p>
                                    {{ post.content|truncatewords:30 }}
                                </p>
                                <div>
                                    <span class='pull-left'>
                                        {% for tag in post.postvscategory.all %}
                                            <span class='small-tag'><i class="fa fa-tag"></i>&nbsp;{{ tag.id_category.title }}</span>
                                        {% endfor %}
                                    </span>
                                    <span class='pull-right text-info'>
                                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;
                                        {{ post.created_time|converttimestamp:"%Y-%m-%d %H:%M" }}
                                        &nbsp;&nbsp;| &nbsp;&nbsp;
                                        {{ post.number_views }}
                                        <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div>
                <div class='text-center'>
                    <input type='hidden' id='current-page' value='{{ current_page }}' />
                    <input type='hidden' id='max-page' value='{{ num_pages|length }}' />
                    {% if num_pages|length > 1 %}
                        <ul class="pagination">
                            <li class="" onclick="go_to_prev_page_post()"><a href='javascript:void(0)'><i class="material-icons">chevron_left</i></a></li>
                            {% for index in num_pages %}
                                {% if current_page == forloop.counter %}
                                    <li id='btn-page-{{forloop.counter}}' class="active" onclick='get_list_posts_by_category({{forloop.counter}})'><a href='#'>{{ index|add:"1" }}</a></li>
                                {% else %}
                                    <li id='btn-page-{{forloop.counter}}' class="waves-effect" onclick='get_list_posts_by_category({{forloop.counter}})'><a href='#'>{{ index|add:"1" }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="waves-effect" onclick="go_to_next_page_post()"><a href='javascript:void(0)'><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    

    <div id='parent-content-3' class='col-md-4 col-sm-12 col-xs-12 nopadding'>
        <div id='content-3' class='clearfix'>
            <input type='hidden' id='current_id_post' name='id_post' value='{{post.id}}' />
            <input type='hidden' id='id_comment_parent' name='id_comment_parent' value='' />
            <div class='clearfix' style=''>
                <div class='clearfix' style='width: 100%;'>
                    <div class='card-panel text-center'>
                        <div id='share'>
                            
                        </div>
                    </div>
                    
                </div>
                <div id='list-category' class='nopadding'>
                    <div class='card-panel'>
                        {% for category in list_category %}
                            <div class='div-inline'>
                                <a href="/post/category/{{ category.id }}/1">
                                    <span class='tag'><i class="fa fa-tags"></i>&nbsp;{{ category.title }} ({{ category.num_posts }})</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id='list-top-view' class='nopadding'>
                    <div class="card-panel">
                        <h5><span class='glyphicon glyphicon-equalizer'></span>&nbsp;&nbsp;Top Views</h5>
                        <ul>
                            {% for item in list_top_view_post %}
                                <li><a href='/post/detail/{{ item.id }}'>{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block addition %}
    <div class="clearfix"></div>
    <div>
        <div class="slider-post">
            {% for item in list_new_post %}
            <div class='item-post'>
                <div class="row">
                    <div class="col">
                      <div class="card">
                        <a href='/post/detail/{{ item.id }}'>
                            <div class="card-image">
                                <img src="{% static item.avatar|avatar %}">
                                <span class="card-title">{{ item.title }}</span>
                            </div>
                        </a>
                      </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready( function() {
            $('select').material_select();
            $("#share").jsSocials({
                url: location.href,
                text: "Google Search Page",
                showLabel: false,
                showCount: "inside",
                shares: ["twitter", "facebook", "googleplus"]
            });
        })

        // Active slider plugin
        $('.slider-post').slick({
            dots: true,
            infinite: false,
            slidesToShow: 5,
            slidesToScroll: 5,
            autoplay: true,
            autoplaySpeed: 2000,
            centerMode:true,
            responsive: [
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                  }
                },
                {
                  breakpoint: 580,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                  }
                },
                {
                  breakpoint: 380,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
              ]
        });
    </script>
{% endblock %}

