* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#wrap a {
    text-decoration: none;
}

.nopadding {
    padding: 0px;
}

.padding5 {
    padding: 5px;
}

#content-1,
#content-3 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

#content-1 {
    /*min-height: 100% !important;
    height: 100% !important;*/
    /*position: relative;*/
    margin-top: -50px;
}


#content-3 {
    margin-bottom: 50px;
    margin-top: 50px;
}

#parent-content-3 {
    float: right;
}

#list-tag {
    padding: 15px;
}

#card-panel-total {
    /*position: absolute;
    top: -50px;*/
}

#content-post {
    font-size: 100%;
    line-height: 2em;
    font-size: 18px;
}

#info-post {
    font-size: 12px;
    color: #00bfa5;
    text-align: right !important;
}

.page-footer {
    margin-top: 0px !important;
}


.content-comment {
    margin-left: 40px;
}

.name_owner {
    font-size: 16px;
    color: #00bfa5;
}

#logo-site {
    height: 50px;
    max-height: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.container-cmt {
    position: relative;
}

.container-cmt:hover .utils-cmt {
    opacity: 1;
}

.utils-cmt {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.order-cmt {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.3;
    font-size: 1em;
}

.avatar-post {
    max-height: 150px;
    margin-top: -19px;
    margin-left: -19px;
    margin-right: 20px;
}

#content-error {
    color: RED;
    font-size: 16px;
}

#card-panel-3 {
    overflow: auto;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.12);*/
    overflow-x: hidden;
}

#footer-comment-block {

}

#content-5 {
    margin: 0px 0px 100px 0px;
    padding: 40px;
    float: left;
}

#header-comments {
    color: #fff;
    margin-bottom: 0px;
}

#card-panel-1 {
    min-height: 600px;
}

.tag {
    padding: 4px;
    color: WHITE;
    background: #00bfa5;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
}

.small-tag {
    padding: 2px;
    color: WHITE;
    background: #00bfa5;
    display: inline-block;
    border-radius: 2px;
    font-size: 0.75em;
}

#list-category a {
    margin-bottom: 20px;
}

.div-inline {
    display: inline;
    margin-top: 50px;
}

/****** Scroll Bar style */
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.modal-content {
    min-height: 100%;
}

.item-post {
    /*height: 150px;
    width: 70px;
    background: #4CAF50;
    margin: 0px 5px;*/
}

.body-content .item-post {
    width: 100%;
}

#more-submit-cmt {
    display: none;
}

.pagination li {
    margin: 5px;
}

.pagination li.active {
    background-color: #004d40;
}

.pagination>li>a {
    border: 0px solid BLACK;
    padding: 0px;
}

.pagination li.active a {
    color: #fff;
    background: #004d40;
}

.pagination>li>a:hover {
    text-decoration: none;
    background: none;
}

.slider-post {
    margin: 50px 50px;
}

.slick-next::after {
    content: 'fuck';
}


.slick-next::before {
    content: '→';
}

#img-profile-footer {

}

.sub-container-cmt {
    margin-left: 40px;
}

.item-post .card-title {
    color: #000;
}

.div-sub-cmt {
    margin-left: 20px;
}



.category-header {
    background: #00bfa5;
    padding: 5px;
}

.body-content {
    margin-top: 50px;
}

.body-content a {
    color: #000;
}


@media (min-width: 768px) {
    #logo-site {
        height: 58px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 10px;
    }

    #corner-sort {
        position: absolute;
        top: 0px;
        right: 20px;
    }
}

#icon-go-top {
    width: 30px !important;
    height: 30px;
    opacity: 0.75;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}

#icon-go-top:hover {
    opacity: 1;
}

#icon-go-top img {
    width: 100%;

}


#list-top-view li {
    padding-top: 30px;
    border-bottom: 1px solid #bbb;
}

@media (max-width: 768px) {
    #content-5 {
        margin: 10px 0px;
        padding: 0px;
    }

    #logo-site {
        margin-left: 15px;
    }

    #content-5 .card-panel {
        padding: 0px;
    }

    #content-5 input, #content-5 textarea, #content-5 label {
        width: 100%;
        margin-left: 0px;
    }

    #img-profile-footer {
        margin-bottom: 20px;
        max-width: 100px;
    }

    .g-capcha iframe {
        width: 100%;
        max-width: 100%;
    }

    #content-3 {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .main-image {
        display: none;
    }

    .user-profile {
        display: none;
    }

    .content-comment {
        margin-left: 0px;
    }

    #corner-sort {
        position: absolute;
        top: none;
        bottom: 20px !important;

        right: 20px;
    }

    #card-panel-1 {
        padding-bottom: 60px;
        min-height: auto;
    }

    #form-subscriber {
        border: 1px solid #999;
        padding: 15px;
        margin-top: 20px;
        background: #e3f2fd;
    }

    .avatar-post {
        display: none;
    }

    .parallax-container {
        max-height: 100px;
    }

}

