{% load staticfiles %}
<div class="parallax-container" style='max-height: 200px; '>
    <div class="parallax">
        <img src="{% static 'media/image/parallex_3.jpg' %}">
    </div>
</div>
<div id='footer' class='green accent-4' style='margin-top: 0px; padding-top: 0px;'>

    <footer class="page-footer green accent-4">
        <div class="container green accent-4">
            <div class="row">
                <div class="col l6 s12">
                    <div class='col-md-4 col-sm-12 col-xs-12 text-center'>
                        <div class='text-center'>
                            <img id='img-profile-footer' class='img-circle ' src="{% static 'media/image/avatar.jpg' %}" width='100%'>
                        </div>
                    </div>
                    <div class='col-md-8 col-sm-12 col-xs-12'>
                        <div class='row valign-wrapper'>
                            <i class='material-icons'>person_pin</i>&nbsp;
                            Author: Quy Nguyen Vu 
                        </div>
                       <div class='row valign-wrapper'>
                            <i class='material-icons'>email</i>&nbsp;
                            Email: Qnvproit@gmail.com   
                        </div>
                    </div>
                </div>
                <div id='form-subscriber' class="col l4 offset-l2 s12">
                    <input id='email-subscriber' type='email' placeholder='Email'/>
                    <br />
                    <button onclick='add_new_subscriber()' class='waves-effect waves-light btn'>
                        <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;
                        Subscriber
                    </button>
                </div>
            </div>
        </div>
        <div class="footer-copyright green darken-2">
            <div class="container">
                © 2014 Copyright Qnvproit
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</div>
<div id='icon-go-top' onclick='go_top()' title='Go Top'>
    <div>
         <img src="{% static 'media/image/go-top.png' %}">
    </div>
</div>
<!-- #footer -->

