<div class='navbar-fixed'>
  <ul id="list-backend" class="dropdown-content">
      <li><a href="/post/type/2/1">Python</a></li>
      <li><a href="/post/type/1/1">PHP</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
  </ul>
  <ul id="list-backend-mobile" class="dropdown-content">
      <li><a href="/post/type/2/1">Python</a></li>
      <li><a href="/post/type/1/1">PHP</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
  </ul>

  <ul id="list-frontend" class="dropdown-content">
      <li><a href="/post/type/4/1">Javascript</a></li>
      <li><a href="/post/type/3/1">HTML, CSS</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
  </ul>
  <ul id="list-frontend-mobile" class="dropdown-content">
      <li><a href="/post/type/4/1">Javascript</a></li>
      <li><a href="/post/type/3/1">HTML, CSS</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
  </ul>
  <nav class='green darken-2'>
      <div class="nav-wrapper">
          <a href="/#" class="brand-logo">
            {% load staticfiles %}
            <img id='logo-site' class='img-circle' src="{% static 'media/image/avatar.jpg' %}" >
            Qlog
          </a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-button" href="#!" data-activates="list-backend">Backend<i class="material-icons left">dns</i></a></li>
              <li><a class="dropdown-button" href="#!" data-activates="list-frontend">Frontend<i class="material-icons left">stay_primary_portrait</i></a></li>
              <li><a href="#">Tool Development<i class="material-icons left">settings_input_component</i></a></li>
              <li>
                <a class="waves-effect waves-light modal-trigger" href="#modal1"><i class='material-icons center' >search</i></a>
              </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><a class="dropdown-button" href="#!" data-activates="list-backend-mobile"><span class="fa fa-database"></span>&nbsp;&nbsp;Backend</a></li>
              <li><a class="dropdown-button" href="#!" data-activates="list-frontend-mobile"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;Frontend</a></li>
              <li><a href="#"><span class='glyphicon glyphicon-compressed'></span>&nbsp;&nbsp;Tool Development</a></li>
              <li>
                <a class="waves-effect waves-light modal-trigger" href="#modal1"><span class='glyphicon glyphicon-search'></span>&nbsp;&nbsp;Search</a>
              </li>
          </ul>
      </div>
  </nav>
</div>